<a href="https://colab.research.google.com/github/cedmasantos/dbeducacao_enem_v01/blob/main/recossa_edu_enem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importar os pacotes necess√°rios
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
dados = pd.read_csv("/content/drive/MyDrive/Praticas_ciencia_dados/dados_selecionados/escola_selecionados_salvador.csv")

In [ ]:
df_escolas_municipais =  dados.loc[dados["rede"] == "municipal"]

In [ ]:
df_escolas_municipais

       Unnamed: 0  id_municipio  id_escola  ...  dsu_em dsu_ep  dsu_eja
28        1040391       2927408   29179475  ...     NaN    NaN      NaN
29        1040392       2927408   29181275  ...     NaN    NaN      NaN
30        1040393       2927408   29184010  ...     NaN    NaN      NaN
31        1040394       2927408   29184851  ...     NaN    NaN      NaN
32        1040395       2927408   29185793  ...     NaN    NaN      NaN
...           ...           ...        ...  ...     ...    ...      ...
17834     2414095       2927408   29384591  ...     NaN    NaN      NaN
17835     2414096       2927408   29384648  ...     NaN    NaN      NaN
17836     2414097       2927408   29404606  ...     NaN    NaN     90.9
17837     2414098       2927408   29411459  ...     NaN    NaN      NaN
17838     2414099       2927408   29415063  ...     NaN    NaN      NaN

[5880 rows x 39 columns]

In [ ]:
dados_censo = pd.read_csv("/content/drive/MyDrive/Praticas_ciencia_dados/dados_selecionados/escola_selecionados_censo.csv")

In [ ]:
dados_censo

       Unnamed: 0  id_escola  ...  comum_prof  especial_exclusiva
0           92224   29357861  ...         0.0                 0.0
1           92225   29358140  ...         0.0                 0.0
2           92228   29196221  ...         0.0                 0.0
3           92229   29196345  ...         0.0                 0.0
4           92232   29199603  ...         0.0                 0.0
...           ...        ...  ...         ...                 ...
17880     3143033   29395577  ...         0.0                 0.0
17881     3143050   29452333  ...         0.0                 0.0
17882     3144425   29559600  ...         0.0                 0.0
17883     3147639   29446805  ...         0.0                 0.0
17884     3147641   29452805  ...         0.0                 0.0

[17885 rows x 20 columns]